<header class="header">
    <div class="container-fluid">
        <h1 data-ng-if="!search">{{pageTitle}}</h1>
        <!--End .title-->
        <a data-ng-if="!search" href="javascript:" class="user" data-ng-click="$parent.showUsers()">
            <img src="i/user-1.jpg" alt="user-thumb" data-ng-src="{{$parent.selectedUser.img}}">
            {{$parent.selectedUser.name}}
        </a>
        <!--End .user details-->
        <a data-ng-if="!search" href="javascript:" class="icon search" data-ng-click="showSearch()"></a>
        <!--End .search icon-->

        <a data-ng-if="search" href="javascript:" data-ng-click="cancelSearch()" class="link left-align">Cancel</a>
        <!--End cancel-->
        <div data-ng-if="search" class="search-input">
            <input data-ng-model="searchText.text" data-ng-change="doSearch(searchText.text)" type="text" data-auto-focus/>
            <a href="javascript:" data-ng-if="searchText.text.length>0" data-ng-click="clearSearchText()" class="clear"></a>
        </div>
        <!--End .search-input-->
    </div>
</header>
<!--End .header-->

<div class="dashboard-banner">
    <img src="i/logo.png" alt="logo" class="logo">
    <!--End .logo-->
    <div class="actions">
        <a href="#/newCandidates" class="new"><i></i>New Candidate</a>
        <a href="#/candidates" class="candidates"><i></i>Candidates</a>
        <a href="#/interviewers" class="interviewers"><i></i>Interviewers</a>
    </div>
    <!--End .actions-->
</div>
<!--End .banner-->

<div class="page-content">
    <div class="notification-bar">
        <span>Notifications</span>

        <nav class="actions">
            <a href="javascript:" data-ng-click="toggleFilterOption(filter,'decline')" class="filter decline {{filter.decline?'':'inactive'}}"></a>
            <a href="javascript:" data-ng-click="toggleFilterOption(filter,'accept')" class="filter accept {{filter.accept?'':'inactive'}}"></a>
            <a href="javascript:" data-ng-click="toggleFilterOption(filter,'completed')" class="filter complete {{filter.completed?'':'inactive'}}"></a>
            <!--End .filters-->
            <a href="javascript:" data-ng-click="showSortSidebar()" class="sort"></a>
            <!--End .sort-->
        </nav>
        <!--End .actions-->
    </div>
    <!--End .notification-->
    <div class="notification-holder">
        <div data-ng-init="notification.actions = false;" class="col-md-4 col-sm-6 {{notification.status}} {{notification.actions?'show-action':''}}"
             data-ng-repeat="notification in notifications | statusFilter : filter | orderBy : $parent.sortByOpt : $parent.sortOption">
            <div class="inner">
                <a href="javascript:" data-ng-click="toggleAction(notification)" class="action-btn"></a>
                <div class="status">
                    <i></i>
                    <span>{{notification.status==='completed'?'Interview Completed':notification.status==='decline'?'Interview Declined':notification.status==='accept'?'Interview Accepted':''}}</span>
                    <span class="time">{{notification.timeLabel}}</span>
                </div>
                <!--End status-->
                <div class="user">
                    <div class="radial-progress">
                        <div class="circle">
                            <div class="mask full" data-ng-style="getTransform(notification.candidate.progress,1.8)">
                                <div class="fill" data-ng-style="getTransform(notification.candidate.progress,1.8)"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill" data-ng-style="getTransform(notification.candidate.progress,1.8)"></div>
                                <div class="fill fix" data-ng-style="getTransform(notification.candidate.progress,3.6)"></div>
                            </div>
                        </div>
                        <div class="inset">
                            <img src="i/user-unknown.jpg" data-ng-src="{{notification.candidate.img}}" alt="thumb">
                        </div>
                    </div>
                    <span class="type">Candidate</span>
                    <span class="name">{{notification.candidate.name}}</span>
                </div>
                <!--End user-->

                <div class="user">
                    <img src="i/user-unknown.jpg" data-ng-src="{{notification.interviewer.img}}" alt="thumb">
                    <span class="type">Interviewer</span>
                    <span class="name">{{notification.interviewer.name}}</span>
                </div>
                <!--End user-->
            </div>
            <!--End inner-->
            <div class="actions">
                <a href="javascript:" class="result"><i></i>Results</a>
                <a href="javascript:" data-ng-click="showReason(notification)" class="reason"><i></i>Reason</a>
                <a href="#/editInterview" class="edit"><i></i>Edit</a>
                <a href="javascript:" data-ng-click="deleteNotification(notification)" class="delete"><i></i>Delete</a>
            </div>
            <!--End actions-->
        </div>
    </div>
    <!--End notification-holder-->

</div>
<!--End .page-content-->



<div class="popup search-popup" data-ng-click="hideInnerPopup()" data-ng-if="innerPopup!==''" data-ng-include="'templates/popups/'+innerPopup+'Popup.html'"></div>
<!--End .popup-->


<footer class="footer"  data-ng-include="'templates/Footer.html'"></footer>
<!--End footer-->

