<header class="header">
    <div class="container-fluid">
        <h1 data-ng-if="!search">Add interview for {{candidate.name}}</h1>
        <!--End .title-->

        <a href="javascript:" data-ng-click="cancelAddInterviewers()" class="link left-align">Cancel</a>
        <!--End save-->

        <a href="javascript:" data-ng-click="scheduleTime()" class="link right-align {{selectedInterviewers.length>0?'':'disabled'}}">Next</a>
        <!--End save-->
    </div>
</header>
<!--End .header-->


<div class="page-content">
    <div class="notification-bar">
        <span>Select Interviewer</span>

        <div class="actions">
            <a href="javascript:" data-ng-click="showFilterSidebar()" class="filters"></a>
            <!--End .filter-->
            <a href="javascript:" data-ng-click="showSortSidebar()" class="sort"></a>
            <!--End .sort-->
        </div>
        <!--End .actions-->
    </div>
    <!--End .notification-->
    <div class="interviewers-holder">
        <div class="col-md-4 col-sm-6 {{interviewer.status}} {{interviewer.select?'select':''}}"
             data-ng-repeat="interviewer in interviewers | orderBy : $parent.sortByOpt : $parent.sortOption" data-same-height>
            <div class="inner">
                <a href="javascript:" data-ng-click="selectInterviews(interviewer)" class="select-btn"></a>

                <div class="user">
                    <img src="i/user-unknown.jpg" data-ng-src="{{interviewer.img}}" alt="thumb">
                    <span class="name">{{interviewer.name}}</span>
                    <span class="interviews">{{interviewer.interviews}} Interviews Scheduled</span>
                    <span class="location">{{interviewer.location}}{{interviewer.region}}</span>
                    <span class="qualification">
                        <span data-ng-repeat="qualification in interviewer.competency | limitTo : 4 track by $index">
                            {{($index===3 && interviewer.competency.length>4)? interviewer.competency.length-3+' more...':qualification}}
                        </span>
                    </span>
                </div>
                <!--End user-->
            </div>
            <!--End inner-->
        </div>
    </div>
    <!--End notification-holder-->

</div>
<!--End .page-content-->